.wrapper {
    border: 1px solid red;
}

.heading {
    padding: 10px;
    text-align: center;
}

.usersCount {
    font-size: 12px;
    text-align: center;
}

.joinRoomButton {
    width: 100%;
    height: 20px;
}